
h1 { 
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
}


h2 {
    text-align: center;
}

h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
 
input{
    border-color: aqua;
}


p{
    text-align: center;
}

img{
    margin-bottom:75px;
}

ol{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

li{
    padding:10px;
}

form{
    text-align: center;
}

#highlight{
    color:black;
    background-color: yellow;
}

.strikethrough{
            text-decoration: line-through;
        }

.content{
    text-align: left;
    padding:20px;
    background-color:rgb(171, 210, 244);
}

.list{
    background-color:black;
    color:white;
    padding:50px;
}

.header{
    background-color:blueviolet;
    text-align: center;
    margin: 10px;
}

.foot{
    background-color: black;
    color:burlywood;
}