
h1 { 
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2 {
    text-align: center;
}
 
input{
    border-color: aqua;
}


p{
    text-align: center;
}

#highlight{
    color:black;
    background-color: yellow;
}

.strikethrough{
            text-decoration: line-through;
        }

.content{
    text-align: left;
}

.header{
    background-color: black;
    text-align: center;
}

.foot{
    background-color: black;
}