body{
    background:black;
}


#skin{
    height: 600px;
    width: auto;
    background:yellow;
}


.eyewhite1{
    height: 200px;
    width:200px;
    background: white;
    margin-left:0px;
    position:absolute;
    top:100px;
    left:50px;
}
.eyewhite2{
    height: 200px;
    width:200px;
    background: white;
    position:absolute;
    top:100px;
    right:50px;
}


.pupil{
    height:75px;
    width:75px;
    position:absolute;
    top:25px;
    left:25px;
    background:black;
}


#mouth{
    background-color:black;
    height:175px;
    width:375px;
    margin:0px;
    position:absolute;
    top:400px;
    left: 50px;
}


.teeth{
    background:white;
    height:30px;
    width:30px;
    margin:5px;
    position:relative;
    left:50px;
}


#tongue{
    background:red;
    height:100px;
    width: 250px;
    left: 50px;
    bottom:0;
    position:absolute;
}


#tonguebreak{
    background:black;
    height:50px;
    width:25px;
    position:absolute;
    left:100px;
}

