body{
    background:black;
}

#skin{
    height: 600px;
    width: auto;
    background:yellow;
}

.eyewhite1{
    height: 200px;
    width:200px;
    background: white;
    position:absolute;
    top:100px;
    left:50px;
}
.eyewhite2{
    height: 200px;
    width:200px;
    background: white;
    position:absolute;
    top:100px;
    right:50px;
}

.pupil{
    height:75px;
    width:75px;
    position:absolute;
    top:25px;
    left:25px;
    background:black;
}

#mouth{
    background-color:black;
    height:175px;
    width:350px;
    padding:10px;
    position:absolute;
    top:400px;
    left: 200px;
}

.teeth{
    background:white;
    height:30px;
    width:30px;
    position:relative;
    left:50px;
}

#tongue{
    background:red;
    height:30px;
    width: 250px;
}