body{
    background-color: #7A7A73;
    text-align: center;
}

.header{
    border: 10px solid #57564F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    border: 5px dotted #DDDAD0;
    text-decoration: underline;
}
img{
    border-radius: 45px;
    border: 10px double;
}
.item{
    border: 5px dashed #57564F;
    text-decoration: underline;
    margin-left: 50px;
    margin-right: 50px;
}

#content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}